/* mulish-regular - latin */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/mulish-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/mulish-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* mulish-700 - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/mulish-v3-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/mulish-v3-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  html{
      box-sizing: border-box;
  }
  *, *::before, *::after{
      box-sizing: inherit;
  }
    body{
        font-family: 'Mulish';
        font-style: normal;
        font-size: 16px;
        line-height: 1.2;
        font-weight: normal
  }
  .wrapper{
      max-width: 1247px;
      margin: 0 auto;

      /* Header style start */

  }
  .header{
      top: 0;
      left: 0;
      width: 100%;
  }
  .header__wraper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 99px;
  }
  .header__logo-link{
    width: 200px;
  }
  .header__list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
  .header__item{
      margin-right: 40px;
  }
  .header__item:last-child{
      margin-right: 0;
  }
  .header__link{
    font-size: 18px;
    line-height: 23px;
    color: #1F1534; 
    text-decoration: none;
    opacity: 0.5;
  }
  .header__link:hover, .header__link:focus, .header__link:active{
    opacity: 1;
    font-weight: bold;
    margin-left: 2px;
    }
/* Header style and */


/* Intro style start */
.main{
  max-width: 1247px;
  margin: 0 auto;
}
.intro{
padding-top: 80px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.intro__title{
max-width: 450px;
font-style: normal;
font-size: 48px;
line-height: 56px;
margin-bottom: 25px;
margin-top: 0px;
}

.intro__subtitle{
max-width: 450px;
font-size: 21px;
line-height: 32px;
margin-bottom: 45px;
color: #7D7987;
font-weight: 300;
}
.search-form__submit{
width: 200px;
height: 60px;
color: white;
background: #458FF6;
border: 0;
border-radius: 55px;
font-weight: bold;
}
.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active{

}
.intro__photo{
width: 693px;
height: 598px;

}
/* Intro style and */


/* Services styles */

.services__title{
margin-top: 149px;
text-align: center;
}
.services{

}
.services__wrap{
  max-width: 952px;
  height: 177px;
  top: 967px;
  margin: 0 auto;
  
.services__cards{
  height: 30vh;
}

