/* mulish-regular - latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/mulish-v3-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/mulish-v3-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-700 - latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/mulish-v3-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/mulish-v3-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Mulish";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
}
.img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  max-width: 1247px;
  margin: 0 auto;

  /* Header style start */
}
.header {
  top: 0;
  left: 0;
  width: 100%;
}
.header__wraper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 99px;
}
.header__logo-link {
  width: 200px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.header__item {
  margin-right: 40px;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  font-size: 18px;
  line-height: 23px;
  color: #1f1534;
  text-decoration: none;
  opacity: 0.5;
}
.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 1;
  color: #000000;
}
/* Header style and */

/* Intro style start */
.main {
  max-width: 1247px;
  margin: 0 auto;
}
.intro {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.intro__title {
  max-width: 450px;
  font-style: normal;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 25px;
  margin-top: 0px;
}

.intro__subtitle {
  max-width: 450px;
  font-size: 21px;
  line-height: 32px;
  margin-bottom: 45px;
  color: #7d7987;
  font-weight: 300;
}
.search-form__submit {
  width: 200px;
  height: 60px;
  color: white;
  background: #458ff6;
  border: 0;
  border-radius: 55px;
  font-weight: bold;
}
.search-form__submit:hover,
.search-form__submit:focus .search-form__submit:active {
  cursor: pointer;
}
.intro__photo {
  width: 693px;
  height: 598px;
}
/* Intro style and */

/* Services styles */

.services__our {
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  padding: 149px 100px 26px 480px;
  margin: 0;
}
.services__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #7d7987;
  margin-top: 33px;
}
.line {
  background: #000000;
  border-radius: 5px;
  width: 56px;
  height: 2px;
  top: 1049px;
  margin: auto;
}
.services__wrap {
  max-width: 1120px;
  background-color: white;
  margin: 0 auto;
}

.services__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 35px;
  grid-column: span 1;
  margin-top: 80px;
}

.services__card {
  padding: 0;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  width: 350px;
  height: 354px;
  padding: 47px 36px;
}

.services__card-pic {
  height: 95px;
}

.services__card-thumb {
  display: block;
}

.services__card-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 56px;
  margin-bottom: 0.8px;
}

.services__card-desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
}

.search-button__more {
  margin-top: 69px;
  padding-left: 460px;
}

.search-form__learnmore {
  width: 200px;
  border-radius: 55px;
  font-size: 18px;
  line-height: 60px;
  color: #458ff6;
  border: 1.4px solid;
  background: white;
  cursor: pointer;
}

.leading__healthcare {
  margin-top: 220px;
}

.Leading__healthcarer {
  font-size: 36px;
  line-height: 56px;
  max-width: 481px;
  margin-top: 33px;
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
}

.line__healthcare {
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 10px;
  margin-top: 26px;
}

.healthcare__title {
  font-weight: 290;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
  margin-top: 31px;
}

.healthcare__learnmore {
  width: 200px;
  border-radius: 55px;
  font-size: 18px;
  line-height: 60px;
  color: #458ff6;
  border: 1.4px solid;
  background: white;
  margin-top: 37px;
}
